{% extends "layout.html" %}
{% block title %}
Add New Restaurant
{% endblock %}
{% block content %}

<div class="d-flex justify-content-center">
    <form action="{{ url_for('add_menu') }}" method="POST" class="w-25 shadow-lg mt-3">
        
        <div class="row px-4 mt-3 text-center">
            <h3>Please Add the New Menu Information:</h3>
        </div>   

        <div class="row px-4 mt-3">
            <label for="title" class=" col-form-label">Title</label>
        </div>
        <div class="row px-4">
            <div class="">
              <input class="w-100" type="text" name="title" id="title" required>
            </div>
        </div>
  
        <div class="row px-4 mt-3">
            <label for="price" class=" col-form-label">Price</label>
        </div>
        <div class="row px-4">
            <div class="">
              <input class="w-100" type="number" name="price" id="price" required>
            </div>
        </div>
  
        <div class="row px-4 mt-3">
            <label for="description" class=" col-form-label">Description</label>
        </div>
        <div class="row px-4">
            <div class="">
              <input class="w-100" type="text" name="description" id="description" required>
            </div>
        </div>

        <div class="row px-4 mt-3">
            <label for="restaurant_id" class=" col-form-label">Restaurant Name</label>
        </div>
        <div class="row px-4">
            <div class="">
                <select class="w-100" name="restaurant_id" id="restaurant_id">
                    {% for restaurant in restaurants %}
                        <option value="{{ restaurant['id'] }}">{{ restaurant['name'] }}</option> 
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div class="row px-4 my-3">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
        
    </form>
    
  </div>


{% endblock %}