<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />


    
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-dark" >
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse show" id="navbarNavAltMarkup">
            
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ url_for('home') }}" class="navbar-brand text-white">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Restaurants
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"></li>
                    <li><a href="{{ url_for('enternew') }}" class="dropdown-item">Add New Restaurant</a></li>
                    <li><a href="{{ url_for('list_restaurants') }}" class="dropdown-item">List and Edit Restaurants</a></li>
                  </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Restaurant Types
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"></li>
                        <li><a href="{{ url_for('enternewtype') }}" class="dropdown-item">Add New Restaurant Type</a></li>
                        <li><a href="{{ url_for('list_types') }}" class="dropdown-item">List and Edit Restaurant Types</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Users
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"></li>
                        <li><a href="{{ url_for('add_user') }}" class="dropdown-item">Add User</a></li>
                        <li><a href="{{ url_for('list_users') }}" class="dropdown-item">List and Edit Users</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Menus
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"></li>
                        <li><a href="{{ url_for('add_menu') }}" class="dropdown-item">Add Menu</a></li>
                        <li><a href="{{ url_for('list_menus') }}" class="dropdown-item">List and Edit Menus</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Orders
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"></li>
                        <li><a href="{{ url_for('add_order') }}" class="dropdown-item">Add Order</a></li>
                        <li><a href="{{ url_for('list_orders') }}" class="dropdown-item">List and Edit Orders</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Login/Register
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"></li>
                        <li><a href="{{ url_for('signup') }}" class="dropdown-item">Sign Up</a></li>
                        <li><a href="{{ url_for('login') }}" class="dropdown-item">Login</a></li>
                    </ul>
                </li>

              </ul>
            
          </div>
        </div>
      </nav>


    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr/>
        <footer>
            <p>&copy; 2023</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    
</body>
</html>
