{% extends "layout.html" %}
{% block title %}
Add New Restaurant Type
{% endblock %}
{% block content %}
{% if error_msg %}
    <p style="color: red;">{{ error_msg }}</p>
{% endif %}
<div class="d-flex justify-content-center">
    <form action="{{ url_for('enternewtype') }}" method="POST" class="w-25 shadow-lg mt-3">
        
        <div class="row px-4 mt-3 text-center">
            <h3>Please Add the New Restaurant Type Information:</h3>
        </div>

        <div class="row px-4 mt-3">
            <label for="type_name" class=" col-form-label">Type Name</label>
        </div>
        <div class="row px-4">
            <div class="">
                <input class="w-100" type="text" name="type_name" id="type_name" />
            </div>
        </div>    
        
        <div class="row px-4 my-3">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
        
    </form>
    
</div>


{% endblock %}
